:root {
    --primary-color: 247, 129, 84;
    /*orange*/
    --primary-color-hover: 192, 95, 56;
    --secondary-color: 51, 97, 97;
    --secondary-color-hover: 35, 68, 68;
    --color-white: white;
    --color-black: 26, 26, 26;
    --text-color: #454545;
    --shadow-color: 230, 233, 249, 0.9;


}

* {
    font-family: 'Muli', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.section-1 {
    width: 100%;
    height: 240px;
    margin-top: 90px;
    background-color: blueviolet;


}

.titles-holder {
    width: 100%;
    height: 240px;
    background-color: #F7F7FB;
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: column;
    gap: 10px;
    padding: 0 10% 0 10%;
    color: var(--color-black);

}

.titles-holder h1 {
    font-size: 50px;


}

.titles-holder span {
    color: var(--color-black);
}

.titles-holder span.active {
    color: rgb(var(--secondary-color-hover));
}

.titles-holder a,
span {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;

}



.section-2 {
    width: 100%;
    height: 800px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;

}

.div-holder {
    width: 78%;
    height: 85%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.leftdiv {
    width: 32%;
    height: 100%;
    background-color: var(--color-white);
}

.rightdiv-1,
.rightdiv-2 {
    width: 66%;
    height: 100%;
    background-color: darkorange;
}

.rightdiv-1 {
    display: block;
}

.rightdiv-2 {
    height: 60%;
    display: none;
}



.text-container {
    width: 100%;
    height: 95%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;


}

.title-1 {
    width: 100%;
    height: 10%;
    color: var(--color-white);
    background-color: rgb(var(--secondary-color));
    font-size: 24px;
    font-weight: bold;
    padding: 20px 30px;
    box-shadow: 6px 6px 40px 10px rgb(var(--shadow-color));

}

.text1 {
    width: 70%;
    height: 25%;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    gap: 5px;

    /* background-color: blueviolet; */
}

.text2 {
    width: 100%;
    height: 100%;
    /* background-color: coral; */
    display: flex;


    font-size: 15px;


}

.list {
    width: 100%;
    height: 60%;

    /* background-color: aliceblue; */
}

.list li {
    width: 100%;
    height: 20%;
    font-weight: lighter;
    padding: 20px 30px;

    display: flex;
    align-items: center;
    /* background-color: aqua; */


}

.list li:hover,
a:hover {

    color: var(--color-white);




}

.list li:hover {
    background-color: rgb(var(--secondary-color));
    border-top: 1px solid #DBEEFD;
    transition-duration: .3s;
}


.list li.active {
    background-color: rgb(var(--secondary-color));
    border-top: 1px solid #DBEEFD;
    color: var(--color-white);
}


.profile-div,
.dash-div {


    width: 100%;
    height: 100%;
    padding: 20px 0px 0 30px;

    background-color: var(--color-white);
    box-shadow: 6px 6px 40px 10px rgb(var(--shadow-color));

    gap: 15px;

    padding: 30px;

    /* background-color:rgb(127, 127, 163); */



}

.dash-div {
    height: 100%;
}

.box-container {
    width: 30%;
    height: 50%;
    background-color: #e5e2f7;
    box-shadow: 6px 6px 40px 10px rgb(var(--shadow-color));
    display: flex;
    align-items: center;
    justify-content: center;


}


.box-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

}

.nb {
    width: 70px;
    height: 70px;
    background-color: var(--color-white);
    font-size: 24px;
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.txt {
    font-size: 18px;
    font-weight: bold;
}



.header-title {
    width: 100%;
    height: 70px;
    font-weight: bold;
    font-size: 24px;
}

.header-title h13 {
    padding: 20px 20px 20px 40px;
    font-size: 20px;
    display: flex;
    align-items: flex-end;

}

.thin {
    width: 100%;
    border-top: 1px solid #DBEEFD;
    padding: 20px 0px 0 40px;
    color: #545454;
}

.col-holder {
    width: 100%;
    height: 30%;
    display: flex;

}


.col-1,
.col-2 {
    width: 50%;




}

.row-holder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.row-1 input {
    width: 100%;
    height: 120px;
}

.row-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* background-color: fuchsia; */
}

.row-2 input {
    width: 350px;


    /* background-color: fuchsia; */
}


input {
    width: 95%;
    padding: 25px 0 0 0;
    border: 1px solid #d8dedf;
    margin-top: 10px;
    box-shadow: 6px 6px 40px 10px rgb(var(--shadow-color));
    box-sizing: border-box;

    display: flex;
    flex-direction: column;



}

.Register-btn {

    width: fit-content;
    height: auto;

    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 30px;
    color: var(--color-white);
    background-color: rgb(var(--primary-color));
    border-radius: 2px;
    text-transform: capitalize;
    transition-duration: .3s;
    text-decoration: none;
    margin-top: 10px;

}

.Register-btn:hover {
    background-color: rgb(var(--secondary-color));
    color: var(--color-white);
}










.section-3 {
    background-color: #336161;

    width: 100%;
    height: 430px;

}

.section-3 .columns-container {
    padding: 100px 155px;
    width: 80%;
    height: 430px;
    display: flex;



}

.section-3 .columns-container .column-1 {

    width: 40%;
    height: auto;
    padding: 5px;
}

.section-3 .columns-container .column-2 {

    width: 40%;
    height: auto;
    padding: 5px 20px;

}

.section-3 .columns-container .column-3 {

    width: 20%;
    height: auto;
    padding: 5px;
}

.section-3 .columns-container .column-1 .holder {
    width: 100%;
    height: 200px;




}

.section-3 .columns-container .column-1 .holder .p2 {
    color: var(--color-white);
    font-size: 15px;
    line-height: 1.8;
    padding: 15px 0 0 0;
}

.section-3 .columns-container .column-1 .holder .social-icons {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 15px 0px;
    color: var(--color-white);
}


.section-3 .columns-container .column-1 .holder .social-icon {
    display: flex;
    padding: 15px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    transition-duration: .3s;
}

.section-3 .columns-container .column-1 .holder .social-icon:hover {
    cursor: pointer;
    border-color: rgb(var(--primary-color));
    background-color: rgb(var(--primary-color));
}

.section-3 .columns-container .titles-2-holder {
    width: fit-content;
    height: 50px;

    font-size: 24px;
    color: var(--color-white);

}

.section-3 .container {
    width: fit-content;
    height: auto;
    display: flex;

    gap: 10px;
    padding: 20px 0;
}

.section-3 .icon {
    width: 25px;
    height: 100%;
}

.section-3 .bx.bx-envelope,
.section-3 .bx.bx-location-plus {
    color: rgb(var(--primary-color));

}

.section-3 .text {
    width: 100%;
    height: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;

}



.section-3 .title {
    font-size: 18px;
    font-weight: bolder;
    width: 100%;
    height: auto;

}

.section-3 .subt {
    font-size: 15px;
    color: #C2C2C2;

    width: 100%;
    height: 50%;
}

.section-3 .subt a {

    color: #C2C2C2;
    text-decoration: none;


}

.section-3 .column-3 .links {
    display: flex;
    line-height: 2;
    flex-direction: column;
    font-size: 15px;
    list-style-type: none;
    padding: 5px 0;

}

.section-3 .column-3 .links li a {
    text-decoration: none;
    color: var(--color-white);

}










footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    background-color: var(--color-white);
    color: #454545;
    font-size: 15px;

}


@media (max-width: 990px) {
    .section-1 {
        height: 150px;
    }

    .titles-holder {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;



    }



    .titles-holder h1 {
        font-size: 30px;


    }





    .titles-holder a,
    span {
        font-size: 15px;


    }

    .section-2 {
        height: 1500px;
    }


    .div-holder {

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .leftdiv {
        width: 100%;
    }

    .title-1 {

        font-size: 20px;
        text-align: center;
    }

    .text1 {
        height: 30%;
    }

    .list li {
        justify-content: center;
    }

    .rightdiv-1 {
        width: 100%;
    }

    .header-title {
        font-size: 20px;
    }

    .row-2 input {
        width: 300px;


        /* background-color: fuchsia; */
    }

    .rightdiv-2 {
        width: 100%;
    }

    .rightdiv-2 .header-title {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .box-container {
        width: 100%;
    }


    .section-3 {
        background-color: #336161;

        width: 100%;
        height: 600px;

    }


    .section-3 .columns-container {
        padding: 40px 100px;
        width: 100%;
        height: 600px;
        display: flex;
        flex-wrap: wrap;

    }

    .section-3 .columns-container .column-1,
    .section-3 .columns-container .column-2 {
        width: 50%;


    }

    .section-3 .columns-container .column-3 {

        width: 100%;

    }


}